@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sidebar {
    grid-area: sidebar;
  }
}

*:focus-visible {
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows: 1fr 7fr 7fr 1fr;
  max-height: 100dvh;
  grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "footer footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.gridProduct {
  @apply grid gap-2 items-end;
  grid-template-columns: 1fr 1fr auto;
}

@media (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows: 1fr 7fr 7fr 1fr;
    grid-template-areas: 
      "sidebar header"
      "sidebar main"
      "sidebar main"
      "footer footer";
  }
}