@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
}

*:focus-visible {
  outline: none;
}

.bg-image-auth {
  background-image: url('/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}
